body {
                width: 70%;
                margin: auto;
                text-align: justify;
            }

            header {
                background-color: #e5c5b0;
                border-radius: 0 0 0 25px;
                padding: 5px 15px 20px;
                width: 270px;
                text-align: center;
                float: right;
                margin: 0 0 10px 30px;
            }

            header a {
                text-decoration: none;
                background-color: #fff;
                border-radius: 10px;
                padding: 7px;
                color: #bd4e15;
                border: solid thin;
            }

            section {
                width: 45%;
                float: left;
            }

            section h1 {
                background-color: #bd4e15;
                padding: 10px;
                color: #fff;
            }

            section:nth-child(2) {
                margin-left: 10%;
            }