 body {
            background-color: #ffffcb;
            background-image: url(torta_limao_backS.png), url(torta_limao_backI.png);
            background-repeat: repeat-x;
            background-position: top, bottom;
            width: 550px;
            margin: 50px auto;
        }

        h1 {
            color: #FF9900;
        }

        h2 {
            color: #fff;
            background-color: #FF9900;
            padding: 5px;
            margin-bottom: 0;
        }

        ul {
            margin-top: 0;
            background-color: #daff95;
            border-radius: 0 0 25px 25px;
        }

        ul li {
            list-style: none;
            list-style-image: url(torta_limao_item1.gif);
        }

        ul ul li {
            list-style-image: url(torta_limao_item2.gif);
        }

        ul ul ul li {
            list-style-image: url(torta_limao_item3.gif);
        }

        #end {
            padding-bottom: 10px;
        }